@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --color-primario: #c7a17a;
  --color-fondo: #f9f5f0;
  --color-oscuro: #151515;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", "Sans-serif";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*?---------------UTILIDADES---------------*/

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

.encabezado-1 {
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
}

/*?---------------HEADER---------------*/

.contenedor-header {
  background-color: var(--color-fondo);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.soporte {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.soporte i {
  font-size: 3.3rem;
}

.contenido-soporte {
  display: flex;
  flex-direction: column;
}

.contenedor-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contenedor-logo i {
  font-size: 3rem;
}

.contenedor-logo h1 a {
  text-decoration: none;
  color: #000;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.contenedor-usuario {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.contenedor-usuario .fa-user {
  font-size: 3rem;
  color: var(--color-primario);
  padding-right: 2.5rem;
  border-right: 1px solid #e2e2e2;
}

.contenedor-usuario .fa-basket-shopping {
  font-size: 3rem;
  color: var(--color-primario);
  padding-left: 1rem;
}

.contenido-carro-compras {
  display: flex;
  flex-direction: column;
}

/*?---------------NAVBAR---------------*/

.contenedor-navbar {
  background-color: var(--color-primario);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.contenedor-navbar .fa-bars {
  display: none;
}

.menu {
  display: flex;
  gap: 2rem;
}

.menu li {
  list-style: none;
}

.menu a {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--color-oscuro);
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}

.menu a::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: 0.4s ease-out;
}

.menu a:hover::after {
  width: 100%;
}

.menu a:hover {
  color: #fff;
}

.formulario-busqueda {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 2rem;
  background-color: #fff;
  height: 4.4rem;
  overflow: hidden;
}

.formulario-busqueda input {
  outline: none;
  font-family: inherit;
  border: none;
  width: 25rem;
  font-size: 1.4rem;
  padding: 0 2rem;
  color: #777;
  cursor: pointer;
}

.formulario-busqueda input::-webkit-search-cancel-button {
  appearance: none;
}

.formulario-busqueda .boton-busqueda {
  border: none;
  background-color: var(--color-primario);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
}

.boton-busqueda i {
  font-size: 2rem;
  color: #fff;
}

/*?---------------BANNER---------------*/

.banner {
  background-image: linear-gradient(100deg, #000000, #00000020),
    url("../img/banner.jpg");
  height: 60rem;
  background-size: cover;
  background-position: center;
}

.contenido-banner {
  max-width: 90rem;
  margin: 0 auto;
  padding: 25rem 0;
}

.contenido-banner p {
  color: var(--color-primario);
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.contenido-banner h2 {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.contenido-banner a {
  margin-top: 2rem;
  text-decoration: none;
  color: #fff;
  background-color: var(--color-primario);
  display: inline-block;
  padding: 1rem 3rem;
  text-transform: uppercase;
  border-radius: 3rem;
}

/*?---------------MODAL-CARRITO---------------*/

.modal-carrito {
  //display: none;
  width: 360px;
  height: 260px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  background-color: #fff;
}

.modal-carrito-titulo {
  font-weight: 700;
  padding: 24px;
  border-bottom: 1px solid var(--color-fondo);
}

.modal-carrito-contenedor-checkout {
  padding: 24px;
}

.modal-carrito-contenedor-detalles {
  dispplay: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  color: var(--color-primario);
}

.modal-carrito-imagen {
  width: 50px;
  border-radius: 4px;
}

.modal-carrito-precio span {
  color: var(--color-oscuro);
  font-weight: 700;
}

.modal-carrito-borrar:hover {
  cursor: pointer;
}

.modal-carrito-checkout {
  background-color: var(--color-primario);
  width: 100%;
  height: 57px;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-size: 0.9em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.modal-carrito-checkout:hover {
  cursor: pointer;
  opacity: 0.5;
}

/*?---------------MAIN---------------*/

/*!---------------FEATURES---------------*/

.contenido-main {
  background-color: var(--color-fondo);
}

.contenedor-features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding: 3rem 0;
}

.card-feature {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1.5rem 0;
}

.card-feature i {
  font-size: 2.7rem;
  color: var(--color-primario);
}

.contenido-feature {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contenido-feature span {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--color-oscuro);
}

.contenido-feature p {
  color: #777;
  font-weight: 500;
}

/*!---------------CATEGORIAS---------------*/

.categorias-top {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}

.contenedor-categorias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.categoria-card {
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  gap: 2rem;
}

.categoria-moca {
  background-image: linear-gradient(#00000080, #00000080),
    url("../img/moca-category.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.categoria-capuchino {
  background-image: linear-gradient(#00000080, #00000080),
    url("../img/capuchino-category.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.categoria-expreso {
  background-image: linear-gradient(#00000080, #00000080),
    url("../img/expreso-category.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.categoria-card p {
  font-size: 2.5rem;
  color: #fff;
  text-transform: capitalize;
  position: relative;
}

.categoria-card p::after {
  content: "";
  width: 2.5rem;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translate(-50%, 50%);
}

.categoria-card span {
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;
}

.categoria-card span:hover {
  color: var(--color-primario);
}

/*!---------------PRODUCTOS TOP---------------*/

.productos-top {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}

.contenedor-opciones {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.contenedor-opciones span {
  color: #777;
  background-color: #fff;
  padding: 0.7rem 3rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  border-radius: 2rem;
  cursor: pointer;
}

.contenedor-opciones span:hover {
  background-color: var(--color-primario);
  color: #fff;
}

.contenedor-opciones span.active {
  background-color: var(--color-primario);
  color: #fff;
}

/*!---------------PRODUCTOS---------------*/

.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;
}

.producto-card {
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.contenedor-img {
  position: relative;
}

.contenedor-img .descuento {
  position: absolute;
  left: 0;
  background-color: var(--color-primario);
  color: #fff;
  padding: 2px 1.2rem;
  border-radius: 1rem;
  font-size: 1.2rem;
}

.producto-card:hover .descuento {
  background-color: #000;
}

.boton-grupo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 0;
  right: -3rem;
  z-index: -1;
  transition: all 0.4s ease;
}

.boton-grupo span {
  border: 1px solid var(--color-primario);
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease;
}

.boton-grupo span:hover {
  background-color: var(--color-primario);
}

.boton-grupo span i {
  font-size: 1.5rem;
  color: var(--color-primario);
}

.boton-grupo span:hover i {
  color: #fff;
}

.producto-card:hover .boton-grupo {
  z-index: 0;
  right: -1rem;
}

.contenedor-img img {
  width: 100%;
}

.contenido-card-producto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, min-content);
  row-gap: 1rem;
  justify-items: center;
}

.estrellas {
  grid-row: 1/2;
  grid-column: 1/-1;
}

.estrellas i {
  font-size: 1.3rem;
  color: var(--color-primario);
}

.contenido-card-producto h3 {
  grid-row: 2/3;
  grid-column: 1/-1;
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.contenido-card-producto h3:hover {
  color: var(--color-primario);
}

.add-cart {
  justify-self: start;
  border: 2px solid var(--color-primario);
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-cart:hover {
  background-color: var(--color-primario);
}

.add-cart i {
  font-size: 1.5rem;
  color: var(--color-primario);
}

.add-cart:hover i {
  color: #fff;
}

.contenido-card-producto .precio {
  justify-self: end;
  align-self: center;
  font-size: 1.7rem;
  font-weight: 600;
}

.contenido-card-producto .precio span {
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: line-through;
  color: #777;
  margin-left: 0.5rem;
}

/*!---------------GALERIA---------------*/

.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 30rem);
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galeria-img-3 {
  grid-column: 2/4;
  grid-row: 1/3;
}

/*?---------------FOOTER---------------*/

.footer {
  background-color: var(--color-primario);
}

.container-footer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 3rem;
}

.menu-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 30rem;
  gap: 3rem;
  justify-items: center;
}

.title-footer {
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.contact-info,
.information,
.my-account,
.newsletter {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
  list-style: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 300;
}

.information ul li a,
.my-account ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
  color: var(--color-oscuro);
}

.social-icons {
  display: flex;
  gap: 1.5rem;
}

.social-icons span {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons span i {
  color: #fff;
  font-size: 1.2rem;
}

.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #00acee;
}

.youtube {
  background-color: #c4302b;
}

.pinterest {
  background-color: #c8232c;
}

.instagram {
  background: linear-gradient(
    #405de6,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #f56040,
    #fcaf45
  );
}

.content p {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 300;
}

.content input {
  outline: none;
  background: none;
  border: none;
  border-bottom: 2px solid #d2b495;
  cursor: pointer;
  padding: 0.5rem 0 1.2rem;
  color: var(--color-oscuro);
  display: block;
  margin-bottom: 3rem;
  margin-top: 2rem;
  width: 100%;
  font-family: inherit;
}

.content input::-webkit-input-placeholder {
  color: #eee;
}

.content button {
  border: none;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 3rem;
  border-radius: 2rem;
  font-size: 1.4rem;
  font-family: inherit;
  cursor: pointer;
  font-weight: 600;
}

.content button:hover {
  background-color: var(--color-fondo);
  color: var(--color-primario);
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;

  border-top: 1px solid #d2b495;
}

.copyright p {
  font-weight: 400;
  font-size: 1.6rem;
}
